<h1>Stupid Coaching</h1>

<%# User message printed %>
<h3>
  <%= @message %>
  -You
</h3>

<%# Coach answer printed %>
<h3>
  <%= @coach_answer %>
  -Your coach
</h3>

<%# Backlink to ask %>
<%= link_to "Ask a new question", "ask" %>
